@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  color: #fff;
  padding: 100px 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.about__title {
  max-width: 251px;
  margin: 0px;
  z-index: 1;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  max-width: 660px;
  margin-top: 19px;
  margin-bottom: 73px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
}

.about__paragraph:last-child {
  margin-bottom: 0px;
}

.about__circle {
  width: 426px;
  height: 426px;
  position: absolute;
  top: -152px;
  left: -129px;
  background-color: #2f80ed;
  border-radius: 50%;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}
