.form {
  width: 100%;
  max-width: 385px;
}

.form__fieldset {
  border: none;
  width: 100%;
  padding: 0px;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.form__input {
  border-radius: 4px;
  display: block;
  width: 100%;
  margin-bottom: 32px;
  height: 60px;
  box-sizing: border-box;
  padding: 0px 15px;
  border: 1px solid #838383;
}

.form__input {
  border-radius: 4px;
  display: block;
  width: 100%;
  margin-bottom: 32px;
  height: 60px;
  box-sizing: border-box;
  padding: 0px 15px;
  border: 1px solid #838383;
}

.form__input::placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  border-radius: 4px;
  transition: opacity 0.3s ease-in-out;
  height: 60px;
  width: 100%;
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 20px;
  background-color: #2f80ed;
  color: white;
  border: none;
  padding: 0px;
  cursor: pointer;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
  accent-color: #2f80ed;
  background-image: url("../images/check.svg");
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}
